* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #111;
    background-color: #040429;
    overflow: hidden;
}

.asocorp-header {
    background-image: url(../Images/Backgrounds/uk-black-tech-VD3Gizi8cbU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 70vh;

    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Navbar */
.asocorp-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(101, 101, 101, 0.7);
    padding: 0.3rem 3rem;
    padding-left: 5rem;
}

.asocorp-navbar__logo {
    display: flex;
    align-items: center;
}

.asocorp-navbar__logo img {
    width: 150px;
}

.asocorp-navbar__nav {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.asocorp-navbar__nav  .asocorp-navbar__menu-item{
    position: relative;
}

.asocorp-navbar__nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 0.92rem;
    font-weight: normal;
    padding: 0.7rem;
    display: inline-block;
    transition: 0.2s ease;
}

.asocorp-navbar__nav-item .nav-icon {
    font-size: 1.4rem;
}

.asocorp-navbar .mobile-menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}

/* Dropdown menu */
.asocorp-navbar__dropdown {
    transition: 0.2s ease;
    position: relative;
}

.asocorp-navbar__dropdown-menu {
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    min-width: 120px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: rgba(255, 255, 255, 0.993);
    border-top: 2px solid #2459cd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 0.2s ease;
    z-index: 99;
}

.asocorp-navbar__dropdown::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    background: transparent;
    pointer-events: auto;
    z-index: 98;
}

.asocorp-navbar__dropdown:hover .asocorp-navbar__dropdown-menu {
    opacity: 1;
    transform: translateY(2px);
    pointer-events: auto;
}

.asocorp-navbar__dropdown .asocorp-navbar__dropdown-menu {
    list-style: none;
}

.asocorp-navbar__dropdown-menu li a {
    padding: 0.5rem 1rem;
    display: block;
    color: #111;
    white-space: nowrap;
    text-decoration: none;
}
.asocorp-navbar__dropdown-menu li a:hover {
    color: #2459cd;
}


 /* Hero section */
.asocorp-hero {
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.asocorp-hero h1 {
    font-size: 2.8rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
    color: #fff;
}
.asocorp-hero p {
    font-size: 0.9rem;
    font-weight: 400;
    color: #fff;
}

@media (max-width:960px) {
    .asocorp-navbar {
        padding: 1rem 2rem;
        padding-left: auto;
    }
}

/* Styles For Smaller Screens */
@media (max-width: 768px) {
    .asocorp-navbar {
        flex-wrap: wrap;
        padding: 1rem 2rem;
        padding-left: auto;
        position: relative;
    }

    .asocorp-navbar__nav {
        background: rgba(101, 101, 101, 0.7);
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0.5rem 2rem;
        z-index: 999;
    }
    .asocorp-navbar__nav.show {
        display: flex;
    }

    .asocorp-navbar .mobile-menu-toggle {
        position: absolute;
        right: 2rem;
        top: 2.5rem;     
        z-index: 1100; 
        display: block;
    }

    .asocorp-hero{
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 5rem;
        z-index: 0;
    }
    .asocorp-hero h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    .asocorp-hero p {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }
    .asocorp-hero__btn {
        font-size: 0.85rem;
        padding: 0.6rem 1.2rem;
    }
}

@media (max-width: 480px) {
    .asocorp-navbar {
        padding: 0.5rem 1.5rem;
    }
    .asocorp-navbar__logo img {
        width: 120px;
        height: auto;
    }
    .asocorp-navbar .mobile-menu-toggle {
        top: 25px;
        font-size: 1.8rem;
    }
    .asocorp-hero {
        padding: 4rem 1rem;
    }
    .asocorp-hero p {
        font-size: 0.8rem;
    }
}


/* About section */
.asocorp-about {
    padding: 5rem 2.5rem;
    background-color: #f9f9f9;
}

.asocorp-about__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.asocorp-about__image {
    flex: 1;
    max-width: 100%;
    height: auto;
}
.asocorp-about__image img {
    width: 400px;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.asocorp-about__image img:hover {
    transform: scale(1.03);
}

.asocorp-about__text {
    flex: 2;
    max-width: 600px;
    color: #111;
}
.asocorp-about__text h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.96rem;
    font-weight: normal;
    color: #2459cd;
    border: 2px solid #2459cd;
    border-radius: 50px;
    padding:  0.3rem 0.6rem;
    width: fit-content;
    margin-bottom: 0.5rem;
    text-align: center;

}
.asocorp-about__text h5 span {
    text-transform: uppercase;
}

.asocorp-about__text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.asocorp-about__text p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.asocorp-about__btn {
    color: #2459cd;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: 0.3s ease;
}
.asocorp-about__btn:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .asocorp-about {
        padding: 3rem 1rem;
    }
    .asocorp-about__container {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    .asocorp-about__text {
        max-width: 100%;
    }
    .asocorp-about__text h5 {
        font-size: 0.9rem;
        margin: 0 auto;
    }
    .asocorp-about__text h1 {
        font-size: 1.8rem;
        margin-top: 0.2rem;
    }
    .asocorp-about__text p {
        font-size: 0.9rem;
    }
    .asocorp-about__image img {
        width: 100%;
        max-width: 400px;
    }
}



/* Mission & Vision Section */
.asocorp-goals {
    padding: 0 3rem 1rem 3rem;
    background-color: #f9f9f9;
}

.goals-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.mission {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.mission p {
    max-width: 500px;
    font-size: 0.95rem;
    color: #444;
    margin-bottom: 1rem;
}

.mission ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: circle;
    padding: 0 1.2rem;
}

.mission ul li {
    font-size: 0.9rem;
    line-height: 2;
    color: #444;
}

.vision {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vision h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.vision p {
    max-width: 500px;
    font-size: 0.95rem;
    color: #444;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .asocorp-goals {
        padding: 3rem 1.5rem;
    }
    .goals-container {
        flex-direction: column;
        /* text-align: center; */
    }
    .vision p {
        font-size: 0.85rem;
    }
}

/* Latest Innovation */
.asocorp-innovation {
    padding: 3rem 2rem 5rem 2rem;
    background: #f9f9f9;
}

.asocorp-innovation h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.innovation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.innovation-container .item {
    padding: 0.5rem 1rem;
    text-align: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item .icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.item p {
    font-size: 0.8rem;
}

/* Styles For Smaller Screens */
@media (max-width: 768px) {
    .asocorp-innovation {
        padding: 3rem 1rem;
    }
    .asocorp-innovation h2 {
        text-align: center;
    }

    .innovation-container {
        align-items: center;
        gap: 0.5rem;
    }
}



/* Timeline section */
.asocorp-timeline {
    position: relative;
    padding: 4rem 2rem;
    padding-top: 4rem;
    font-family: 'montserrat', sans-serif;
}
.section-title {
    font-family: 'Noto sans', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #fff;
}

.timeline-line {
    position: absolute;
    top: 22%;
    left: 50%;
    width: 4px;
    height: 59%;
    background: #2459cd;
    transform: translateX(-50%);
    z-index: 1;
}

.timeline-container {
    position: relative;
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 1.5rem 3rem;
    z-index: 2;
}

.timeline-item.left {
    text-align: right;
    padding-right: 6rem;
}

.timeline-item.right {
    left: 50%;
    text-align: left;
    padding-left: 6rem;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 2.8rem;
    width: 18px;
    height: 18px;
    background: #040429;
    border: 4px solid #2459cd;
    border-radius: 50%;
}

.timeline-item.left::before {
    right: -13px;
}


.timeline-item.right::before {
    left: -13px;
}

.timeline-item h2 {
    font-size: 2.8rem;
}

.timeline-item h3 {
    font-size: 3rem;
    font-family: 'Noto sans', sans-serif;
    color: #fff;
}

.timeline-item hr {
    border: none;
    height: 2px;
    width: 220px;
    background-color: #2459cd;
    margin: 1rem 0;
}
.timeline-item.left hr {
    margin-left: auto;
}

.timeline-item.left p {
    margin-left: auto;
}

.timeline-item p {
    max-width: 390px;
    font-size: 0.95rem;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 1rem;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .timeline-line {
        display: none;
        /* top: 20%;
        left: 10px;
        height: 60%; */
    }

    .timeline-item {
        width: 100%;
        padding: 2rem 2rem;
        text-align: left;
    }

    .timeline-item.left,
    .timeline-item.right {
        padding-left: 2.5rem;
        padding-right: 0;
        left: 0;
        text-align: left;
    }
    
    .timeline-item::before {
        top: 3.2rem;
        left: 0;
        right: auto;
    }

    .timeline-item.left::before {
        left: -15px;
    }

    .timeline-item.left hr,
    .timeline-item.right hr {
        margin-left: 0;
    }
}


/* Inclusion section */
.asocorp-inclusion {
    background-image: url(../Images/Backgrounds/istockphoto-1365824279-612x612.jpg);
    background-size: cover;
    background-position: center;
    padding: 6rem 2rem;
    color: #fff;

    background-blend-mode: overlay;
    background-color: rgba(4, 4, 41, 0.664);
}

.inclusion-content {
    max-width: 650px;
    margin-left: auto;
    padding-right: 4rem;
}

.inclusion-content i {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.inclusion-content h3 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.inclusion-content p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.inclusion-box {
    background: #040429;
    color: #fff;
    padding: 1rem 1.5rem;
    max-width: 500px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.inclusion-box h2 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.inclusion-box p {
    font-size: 0.9rem;
    line-height: 1.5;
}

.inclusion-link {
    display: inline-block;
    font-size: 0.95rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    margin-top: 1rem;
    padding-bottom: 0.1rem;
    transition: border-color 0.3s ease;
}
.inclusion-link:hover {
    border-color: #2459cd;
}






/* Why choose asocorp section */
.asocorp-services {
    padding: 5rem 2rem;
    margin: auto;
    background: #f9f9f9;
}
.asocorp-services .section-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.asocorp-services .section-subheading {
    font-size: 0.95rem;
    max-width: 700px;
    color: #444;
    margin-bottom: 2rem;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
    gap: 1rem;
}

.service-item {
    height: 220px;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.service-item .icon {
    color: #2459cd;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.service-item h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.service-item p {
    font-size: 0.95rem;
    color: #555;
    max-width: 400px;
}
/* 
.service-item a {
    color: #2459cd;
    text-decoration: none;
    font-weight: 500;
}
.service-item a:hover {
    text-decoration: underline;
} */

/* Styles For SMaller Screens */
@media (max-width: 768px) {
    .asocorp-services {
        padding: 2rem 1rem;
        text-align: center;
    }
    .service-grid {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
    .service-grid .service-item {
        padding: 0.5rem 0;
        align-items: center;
    }
}



/* CTA section */
.asocorp-cta {
    background-image: url(../Images/Backgrounds/DeWatermark.ai_1753207225671.jpg);
    background-position: center 80%;
    background-size: cover;
    padding: 3rem 5%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
    background-blend-mode: overlay;
    background-color: rgba(4, 4, 41, 0.870);
}

.asocorp-cta .cta-text {
    flex: 1;
    max-width: 600px;
    text-align: left;
}

.cta-text h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.asocorp-cta p {
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 200;
}

.asocorp-cta .cta-btn {
    text-align: left;
    flex: 1;
    max-width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cta-btn .btn-cta {
    padding: 0.5rem 1rem;
    /* border: 2px solid #fff; */
    color: #fff;
    background: #2459cd;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .asocorp-cta {
        flex-direction: column;
        text-align: center;
        padding: 2rem 1rem;
    }
    .asocorp-cta .cta-text {
        max-width: 100%;
        text-align: center;
    }
    .asocorp-cta h3 {
        font-size: 1.6rem;
    }
    .asocorp-cta p {
        font-size: 0.85rem;
    }
    .btn-outline {
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
    }
    
}


/* Footer */
.asocorp-footer__container {
    display: flex;
    justify-content: space-between;
    padding: 6rem 5%;
    border-top: 1px solid #2459cd;
}

.asocorp-footer__logo img {
    width: 200px;
    margin: 0;
}

.asocorp-footer__logo .social-links {
    display: flex;
    gap: 0.8rem;
    margin-top: 0.5rem;
}
.asocorp-footer__logo .social-links a {
    color: #fff;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}
.asocorp-footer__logo .social-links a:hover {
    color: #2459cd;
}


.asocorp-footer__links h5 {
    font-size: 1rem;
    margin-bottom: 0.8rem;
    font-weight: 600;
    color: #fff;
}

.asocorp-footer__links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.asocorp-footer__links ul li {
    margin-bottom: 0.5rem;
}

.asocorp-footer__links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 300;
    transition: color 0.3s ease;
}
.asocorp-footer__links ul li a:hover {
    color: #2459cd;
}

/* .asocorp-footer hr {
    border: none;
    width: 80%;
    height: 1px;
    background-color: #2459cd;
    margin: 0 auto;
} */

.copyright {
    text-align: center;
    padding: 1rem 0;
    color: #fff;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .asocorp-footer__container {
        padding: 4rem 1.5rem;
    }
    .asocorp-footer__logo img {
        width: 150px;
    }
    .asocorp-footer__links h5 {
        font-size: 1rem;
    }
    .asocorp-footer__links ul li a {
        font-size: 0.85rem;
    }
    .asocorp-footer hr {
        width: 100%;
    }
    .copyright {
        font-size: 0.8rem;
        padding: 1rem 1rem;
    }
}

@media (max-width: 640px) {
    .asocorp-footer__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
        padding: 2rem 1rem;
    }
}