* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', sans-serif;
}

.asocorp-header {
    background-image: url(../Images/istockphoto-1212891045-612x612.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 98vh;
}

/* .asocorp-bg-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.asocorp-bg-frame img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transform: scale(0.9);
    opacity: 0.6;
} */

/* .asocorp-navbar,
.asocorp-hero {
    position: relative;
    z-index: 2;
} */

/* Navbar */
.asocorp-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.993);
    padding: 1rem 2rem;
}

.asocorp-navbar__logo {
    display: flex;
    align-items: center;
}

.asocorp-navbar__logo img {
    width: 180px;
    border-radius: 20px;
}

.asocorp-navbar__nav {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.asocorp-navbar__nav  .asocorp-navbar__menu-item{
    position: relative;
}

.asocorp-navbar__nav-item a {
    text-decoration: none;
    color: #111;
    font-size: 0.92rem;
    font-weight: 500;
    padding: 0.7rem;
    display: inline-block;
    transition: 0.2s ease;
}
.asocorp-navbar__nav-item a:hover {
    color: #007bff;
}

.asocorp-navbar__nav-item .nav-icon {
    font-size: 1.4rem;
}

/* Dropdown menu */
.asocorp-navbar__dropdown {
    transition: 0.2s ease;
    position: relative;
}

.asocorp-navbar__dropdown-menu {
    position: absolute;
    top: calc(100% + 17px);
    left: 0;
    min-width: 120px;
    background: rgba(255, 255, 255, 0.993);
    border-top: 2px solid #007bff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 0.2s ease;
    z-index: 99;
}

.asocorp-navbar__dropdown::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    background: transparent;
    pointer-events: auto;
    z-index: 98;
}

.asocorp-navbar__dropdown:hover .asocorp-navbar__dropdown-menu {
    opacity: 1;
    transform: translateY(2px);
    pointer-events: auto;
}

.asocorp-navbar__dropdown .asocorp-navbar__dropdown-menu {
    list-style: none;
}

.asocorp-navbar__dropdown-menu li a {
    padding: 0.5rem 1rem;
    display: block;
    color: #111;
    white-space: nowrap;
    text-decoration: none;
}
.asocorp-navbar__dropdown-menu li a:hover {
    color: #007bff;
}


/* Hero section */
.asocorp-hero {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    padding-top: 8rem;
    padding-left: 2rem;
    color: #fff;
}

.asocorp-hero h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.asocorp-hero p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    line-height: 1.6;
}

.asocorp-hero__btn {
    background: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-top: 0.75rem;
    text-decoration: none;
    border: none;
    font-size: 0.9rem;
    font-weight: normal;
    transition: background 0.3s ease;
}
.asocorp-hero__btn:hover {
    background: #005ec0;
}


/* About section */
.asocorp-about {
    padding: 5rem 2.5rem;
    background-color: #f8f9fa;
}

.asocorp-about__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 1rem; */
}

.asocorp-about__image {
    flex: 1;
    max-width: 100%;
    height: auto;
}
.asocorp-about__image img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.asocorp-about__image img:hover {
    transform: scale(1.03);
}

.asocorp-about__text {
    flex: 2;
    max-width: 600px;
}
.asocorp-about__text h5 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #007bff;
}
.asocorp-about__text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.asocorp-about__text p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.asocorp-about__btn {
    color: #111;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: 0.3s ease;
}
.asocorp-about__btn:hover {
    color: #007bff;
    text-decoration: underline;
}









